<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickEffect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <QuickEffect.Properties.Settings>
            <setting name="MetroTheme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="MetroAccent" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="OpenProcessingInNewWindow" serializeAs="String">
                <value>False</value>
            </setting>
        </QuickEffect.Properties.Settings>
    </userSettings>
</configuration>